.container p{
    font-weight: bold;
    color: black;
    font-size: large;
}
.input-name input{
    display: inline-block;
    width: 250px;
    height: 40px;
    gap: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    margin-left: 20px;
}
.email input{
    display: inline-block;
    width: 250px;
    height: 40px;
    border: 1px solid #e0e0e0;
    margin-left: 20px;
}
.mobile input{
    display: inline-block;
    width: 250px;
    height: 40px;
    border: 1px solid #e0e0e0;
    margin-left: 20px;
}
.faq p{
    font-size: small;
    text-align: justify;
    
}
.faq span{
    display: inline-block;
    color: gray;
    margin-top: 18px;
}
.profile{
  
    width: 330px;
    /* height: 500px; */
    color: gray;
    padding: 20px;
 
}
.profile a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 12px;
    margin-left: 39px;
    padding-top: 24px;
    font-size: small;
}
.profile img{
    display: inline-block;
 
}
.grid{
    background-color: #f1f3f6;
    grid-template-columns: 1fr 2fr;
}